<% provide(:title, @film.name) %>

	<div class="span10">
			<h1>
				<%= @film.name %><br />
			</h1>


			<%= form_for(@film) do |f| %>

			<%= render 'shared/error_messages_film' %>

			<%= f.label :name %>
			<%= f.text_field :name, :value => @film.name %>

			<%= f.label :synopsis %>
			<%= f.text_area :synopsis, :value => @film.synopsis, :rows => "10" %>

			<%= f.label :director %>
			<%= f.collection_select :director_id, @directors, :id, :name, :prompt => "Select a director", :selected => @film.director  %>

			<%= f.label :category_tokens, "Categories" %>
			<%= f.text_field :category_tokens, "data-pre" => @film.categories.map(&:attributes).to_json %>


			<%= f.label :trailer_url %>
			<%= f.text_field :trailer_url, :value => @film.trailer_url %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

			<% end %>

	</div>
