<% provide(:title, "List of films") %>

<%= will_paginate @films %>



	<!-- start film grid here -->
	<ul class="ul_film">  

		<% @films.each do |film| %>

		<li class="film_small">
			<div class="centered">

				<%= link_to image_tag("poster_placeholder.jpg", alt: film.name, class: 'img-rounded centered'), film_path(film)  %>

				<h5>
					<%= link_to film.name, film_path(film)  %>
				</h5>


				<strong>Director:</strong>
				<%= link_to film.director.name, director_path(film.director) %><br />
				<strong>Categories:</strong>		
				<% film.categories.each do |category| %>
				<%= category.name %><br />
				
				<% end %>	
			</div>

		</li>	<!-- end of individual film data -->

		<% end %>

	</ul> <!-- end film list --> 

<%= content_for :sidebar do %>
	<div style="margin:6px; font-size: 12px">

	<%= nested_categories @categories.arrange(:order => :created_at) %>

</div>

<% end %>

	<%= link_to "Add new film", new_film_path, class: "btn btn-large btn-primary" %>


