<% provide(:title, "List of films") %>

			<%= will_paginate @films %>


	<div class="span6">
			
			<%= link_to "Add new film", new_film_path, class: "btn btn-large btn-primary" %>


			<% @films.each do |film| %>

			<h2>
				<%= link_to film.name, film_path(film)  %>
<%= link_to "(edit)", edit_film_path(film) %>
			</h2>

			<dl class="dl-horizontal">
  			<dt>Director:</dt>  		
  			<dd><%= link_to film.director.name, director_path(film.director) %></dd>
  			<dt>Synopsis:</dt>  		
  			<dd><%= film.synopsis %></dd>
  			<dt>Trailer:</dt>  		
  			<dd><%= film.trailer_url %></dd>
  			<dt>Categories:</dt>  		
  			<dd>
  				<% film.categories.each do |category| %>
  				<%= category.name %><br />
  				<% end %>	
  			</dd>
  		</dl>


		<br />
		<br />

		<% end %>

	</div>
</div>