<% provide(:title, @film.name) %>

<div class="span6">
	<h3><%= @film.name %>&nbsp;<%= link_to "edit", edit_film_path(@film) %><br />
	</h3>

	<%= image_tag "poster_placeholder.jpg", alt: @film.name, class: 'img-rounded left' %>

	<strong>Director:</strong> 

	<%= link_to @film.director.name, director_path(@film.director) %><br />
	<strong>Year:</strong><br /> 
	<strong>IMDb rating:</strong><br />
	<strong>Awards:</strong><br /><br />



	<small><i><%= @film.synopsis %></i></small><br/><br />

	<strong>Categories</strong>  		
	<% @film.categories.each do |category| %>
	- <%= link_to category.name, category_path(category) %>

	<% end %>	

</div>

<div class="span2">
	<iframe width="350" height="300" src="<%= @film.trailer_url %>" frameborder="0" allowfullscreen>
	</iframe>
</div><!-- span2 -->

</div><!-- row -->
