<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", "token-input-facebook" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.tokeninput" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
    
  </head>
  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
 
      <div class="span10">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      

    
      <%= yield %>

    </div>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

  </body>

</html>
